body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background: #f7f1ee;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0px 20px;
}
h3, p {
    margin: 0;
}
span {
    cursor: default;
}
a:link, a:visited {
    text-decoration: none;
  }
  
a:hover, a:active {
    text-decoration: none;
  }

li{
    display: inline-block;
}

/* Cabeçalho */
.logo_header{
    width: 150px;
}
.logo_header:hover{
    cursor: pointer;
}

.botao_entrar{
    border: 2px solid #973309;
    color: white;
    background-color: #973309;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
}

.icone_entrar{
    font-size: 13px;
}

.carrinho_header{
    color: #973309;
    font-size: 30px;
    margin-top: 6px;
    cursor: pointer;
}

.caixa_pesquisa{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #973309;
    color: white;
    margin-left: 20px;
    width: 50%;
}

.caixa_pesquisa input{
    border: none;
    color: #973309;
    background-color: white;
    border: 2px solid #973309;
    font-size: 15px;
    padding: 20px;
    height: 2px;
    width: 100%;
}

.lupa_pesquisa{
    padding-right: 16px;
    padding-left: 12px;
}

.caixa_pesquisa input::placeholder{
    color:#973309;
}

.caixa_pesquisa input:focus{
    border: 2px solid #682408;
    outline: none;
}

.logo_and_pesquisa{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.carrinho_header_number{
    cursor: default;
    margin-right: 20px;
}

.carrinho_number{
    color: #973309;
    font-weight: bold;
    cursor: default;
}

.carrinho_and_botao_entrar{
    display: flex;
}
/* fim cabeçalho */

/* nav abaixo do cabeçalho */
nav > ul > li > a{
    color: white;
}

nav{
    margin-top: 15px;
    width: 100%;
    background-color: #973309;
}

.links_nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    cursor: default;
}

.link_nav{
    display: block;
    background-color: transparent;
    padding: 10px;
}

.link_nav:hover{
    background-color: #682408;
    text-decoration: none;
}
/* fim do nav */

/* produtos no meio */
main{
    color:#973309;
    margin: 35px;
}

main > h2{
    padding-bottom: 10px;
    border-bottom: 2px solid #973309;
}

section{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}
section > div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 20%;
    flex: 1 1 200px;
    margin-left: 51px;
    margin-top: 10px;
}
section > div > a {
    width: 80%;
    color:#973309;
}
section > div > a:hover, section > div > a:hover{
    text-decoration: none;
    color:#682408;
}
.estrela_desmarcada{
    color:#504f4f
}
/* fim produtos no meio */

.feedback{
    color:white;
    margin-top: 30px;
    text-align: center;
    padding: 30px;
    background-color: #682408;
}
.feedback > h2{
    margin: 0px 0px 20px 0px;
}
.feedback > a{
    color: #682408;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: #ffffff;
}

.feedback > a:hover{
    background-color: #f7f1ee;
}

/* fim feedback */

/* footer */
.social{
    width: 50%;
    text-align: center;
    margin-left: 0px;
}

.redes_social{
    padding: 0;
}

.redes_social li{
    font-size: 20px;
    margin-right: 10px;
}

.redes_social li > a{
    color: #973309;
}

.atendimento{
    color:#973309;
    text-align: center;
    font-size: 17px;
    width: 50%;
    margin-left: 0px;
}

.mensagem_footer{
    text-align: center;
    color: #504f4f;
    width: 70%;
    margin: auto;
    padding: 20px;
}
/* fim footer */

/*tela de exebicao de produto */
.infor_produto > h1, .infor_produto > h2{
    margin: 0;
}
.infor_produto {
    color:#973309;
}
.descricao_produto{
    display: contents;
}
.descricao_produto > li{
    margin-left: 10px;
}
.valor{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section_produto{
    margin: 50px 0px 30px 50px;
}
.input_quantidade{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.input_quantidade > input{
    width: 80px;
    padding: 10px;
    font-size: 14px;
    border: 2px solid transparent;
    color:#973309;
}
.input_quantidade > label{
    font-weight: 600;
    color: #973309;
    margin-right: 5px;
}
.input_quantidade > input:focus {
    outline: none;
    border: 2px solid #973309;
}
.input_quantidade > button{
    margin-left: 20px;
    background-color: #973309;
    border: none;
    padding: 10px;
    color:#f7f1ee;
    border-radius: 10px;
}
.input_quantidade > button:hover{
    background-color: #682408;
}
.text_centrado{
    text-align: center;
    color: #5c5c5c;
}

/*formulario */
.div_formulario{
    color:#973309;
    margin: 30px;
}

form > div{
    margin-bottom: 20px;
    margin-left: 10px;
}

form > div > input{
    margin-bottom: 5px;
}

.campo_formulario > input{
    border: 2px solid #973309;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.campo_formulario > input:focus{
    border: 2px solid #682408;
    color: #3b3b3b;
    outline: none;
}

.campo_formulario > textarea{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #973309;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    width: 80%;
}

.campo_formulario > textarea:focus{
    border: 2px solid #682408;
    color: #3b3b3b;
    outline: none;
}

form > div > label{
    font-weight: 600;
}
#nome{
    width: 300px;
}
#telefone{
    width: 140px;
}
#email{
    width: 200px;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #979797;
  }
  
.container:hover input ~ .checkmark {
    background-color: #3b3b3b;
  }
  
.container input:checked ~ .checkmark {
    background-color: #973309;
  }
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
.container input:checked ~ .checkmark:after {
    display: block;
  }
  
.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #mark_soucliente{
    width: 108px;
  }

  #mark_receber_novidades{
    width: 32%;
  }

  #control_form{
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
  }

  #control_form > input{
    font-size: 18px;
    border-radius: 10px;
    padding: 8px 10px;
    color: white;
    border: none;
  }

  #control_form > input[type="submit"]{
    background: #973309;
  }

  #control_form > input[type="submit"]:hover{
    background: #682408;
    cursor: pointer;
  }

  #control_form > input[type="reset"]{
    background: #979797;
  }

  #control_form > input[type="reset"]:hover{
    background: #3b3b3b;
    cursor: pointer;
  }

  @media only screen and (max-width: 1024px){
    .logo_and_pesquisa{
        width: 60%;
    }
  }

  @media only screen and (max-width: 768px){
    header{
        flex-direction: column;
        margin: 10px 0px 0px 0px;
    }
    .links_nav{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .caixa_pesquisa{
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
    .logo_and_pesquisa{
        flex-direction: column;
        width: 80%;
    }
  }