body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

a:link, a:visited {
    text-decoration: none;
    color:#973309;
  }
  
a:hover, a:active {
    text-decoration: underline;
  }

li{
    display: inline-block;
    margin: 0 10px;
}

/* Cabeçalho */
.logo_header:hover{
    cursor: pointer;
}
.links_header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    font-weight: bold;
    cursor: default;
}

.botao_entrar{
    border: 2px solid #973309;
    color: white;
    background-color: #973309;
    border-radius: 20px;
    padding: 8px 22px;
    font-size: 18px;
}
.botao_entrar:hover{
    border: 2px solid #EDCBB1;
    cursor: pointer;
}

.carrinho_header{
    color: #973309;
    font-size: 30px;
    margin-top: 6px;
    cursor: pointer;
}

.caixa_pesquisa{
    background-color: #973309;
    color: white;
}

.caixa_pesquisa input{
    border: none;
    color: #973309;
    background-color: white;
    border: 2px solid #973309;
    font-size: 15px;
    padding: 20px;
    height: 2px;
    width: 460px;
}

.lupa_pesquisa{
    padding-right: 16px;
    padding-left: 12px;
}

.caixa_pesquisa input::placeholder{
    color:#973309;
}

.caixa_pesquisa input:focus{
    border: 2px solid #EDCBB1;
    outline: none;
}

.carrinho_header_number{
    cursor: default;
}

.carrinho_number{
    color: #973309;
    font-weight: bold;
    cursor: default;
}
/* fim cabeçalho */