body {
    background: rgb(250, 250, 250);
}
body.dark{
    background-color: #161616;
}
main.dark, .link_produtos.dark, #mensagem_footer.dark, #atendimento.dark{
    color:white;
}
.redes_social_link.dark{
    color:white;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
h3, p {
    margin: 0;
}
span {
    cursor: default;
}
a:link, a:visited {
    text-decoration: none;
  }
  
a:hover, a:active {
    text-decoration: none;
  }

li{
    display: inline-block;
}


#logo_header{
    width: 150px;
}
#logo_header:hover{
    cursor: pointer;
}

#caixa_pesquisa{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #2e2b29;
    color: white;
    margin-left: 20px;
    width: 50%;
}

#caixa_pesquisa input{
    border: none;
    color: #2e2b29;
    background-color: white;
    border: 2px solid #2e2b29;
    font-size: 15px;
    padding: 9px;
    width: 100%;
}

#conteudo_buscado{
    position: absolute;
    top: 64px;
    z-index: 1030;
}
.lista_buscada{
    width: 440px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0 !important;
}

#lupa_pesquisa{
    padding-right: 16px;
    padding-left: 12px;
    background: none;
    border: none;
    color: white;
}

#caixa_pesquisa input::placeholder{
    color:#2e2b29;
}

#caixa_pesquisa input:focus{
    border: 2px solid #000000;
    outline: none;
}

#logo_and_pesquisa{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

#botao_entrar{
    border: none;
    color: white;
    text-decoration: none;
    background-color: #D34204;
    font-weight: 600;
    cursor: pointer;
}
#botao_entrar:hover{
    background: #c54108;
}

#carrinho_header{
    color: white;
    font-size: 20px;
}

#carrinho_number{
    color: white;
    cursor: pointer;
}

#nav_main{
    padding: 0;
}

#nav_main_div{
    padding: 0;
    background-color: #2e2b29;
}

.links_nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    cursor: default;
}

.link_nav{
    color:white !important;
    font-weight: 600;
    cursor: pointer;
    display: block;
    background-color: transparent;
    padding: 15px;
}

.link_nav:hover{
    background-color: #000000;
    text-decoration: none;
}

#dropToggler{
    box-shadow: none !important;
    border: none !important;
    border-radius: 0px;
    flex: 1;
}

#dropToggler:hover{
    background-color: #000000;
}

#icon_drop{
    color:white;
    font-size: 20px;
    padding: 15px;
}
/* fim do nav */

/* produtos no meio */
main{
    color:#2e2b29;
    margin: 35px;
}

main > h2{
    padding-bottom: 20px;
    border-bottom: 2px solid #2e2b29;
}

section{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    row-gap: 50px;
    flex-wrap: wrap;
}
section > div{
    display: grid;
    row-gap: 5px;
    width: 200px;
}
section > div > a {
    font-weight: 600;
    color:#2e2b29;
}
section > div > a:hover, section > div > a:hover{
    text-decoration: none;
    color:#D34204;
}
.estrela_desmarcada{
    color:#504f4f;
}
.estrela_marcada{
    color:#D34204;
}
/* fim produtos no meio */

#feedback{
    color:white;
    margin-top: 30px;
    text-align: center;
    padding: 30px;
    background-color: #D34204;
}
#feedback > h2{
    margin: 0px 0px 20px 0px;
}
#feedback > a{
    color: #2e2b29;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: #ffffff;
}

#feedback > a:hover{
    background-color: #f7f1ee;
}

/* fim feedback */

/* footer */
#social{
    width: 50%;
    text-align: center;
    margin-left: 0px;
}

#redes_social{
    padding: 0;
}

#redes_social li{
    font-size: 20px;
    margin-right: 10px;
}

.redes_social_link{
    color: #2e2b29;
}
.redes_social_link:hover, .redes_social_link:active{
    color: #D34204;
}

#atendimento{
    color: #2e2b29;
    text-align: center;
    font-size: 17px;
    width: 50%;
    margin-left: 0px;
}

#mensagem_footer{
    text-align: center;
    color: #504f4f;
    font-size: 14px;
    width: 70%;
    margin: auto;
    padding: 20px;
}
/* fim footer */

/*tela de exebicao de produto */
#infor_produto > h1, #infor_produto > h2{
    margin: 0;
}
#infor_foto{
    background: #504f4f;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}
#infor_foto:hover{
    background: #2e2b29;
}
#infor_foto > ul{
    margin: 10px 0px 0px 0px;
    padding: 0;
}
#infor_foto > ul > li{
    cursor: pointer;
    margin-right: 10px;
}

#infor_produto {
    width: 50%;
    row-gap: 20px;
    color:#2e2b29;
}
#descricao_produto{
    display: contents;
}
#descricao_produto > li{
    margin-left: 10px;
}
#valor{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#section_produto{
    justify-content: space-evenly;
    margin: 70px 0px 30px 0px;
}
#input_quantidade{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#input_quantidade > label > input{
    width: 80px;
    padding: 10px;
    font-size: 14px;
    color:#2e2b29;
    border: 2px solid #504f4f;
}
#input_quantidade > label{
    font-weight: 600;
    color: #2e2b29;
    margin-right: 5px;
}
#input_quantidade > label > input:focus {
    outline: none;
    border: 2px solid #2e2b29;
}
#input_quantidade > button{
    background-color: #2e2b29;
    border: none;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 15px 10px 15px;
    color:#f7f1ee;
    border-radius: 10px;
}
#input_quantidade > button:hover{
    background-color: #D34204;
}
.text_centrado{
    text-align: center;
    color: #5c5c5c;
}

/*formulario */
#div_formulario{
    color:#2e2b29;
    margin: 30px;
}

form > div{
    margin-bottom: 20px;
    margin-left: 10px;
}

form > div > input{
    margin-bottom: 5px;
}

.campo_formulario > input{
    border: 2px solid #2e2b29;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.campo_formulario > input:focus{
    border: 2px solid #D34204;
    color: #2e2b29;
    outline: none;
}

.campo_formulario > textarea{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #2e2b29;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    width: 80%;
}

.campo_formulario > textarea:focus{
    border: 2px solid #D34204;
    color: #2e2b29;
    outline: none;
}

form > div > label{
    font-weight: 600;
}
#nome{
    width: 300px;
}
#telefone{
    width: 140px;
}
#email{
    width: 300px;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #979797;
  }
  
.container:hover input ~ .checkmark {
    background-color: #000000;
  }
  
.container input:checked ~ .checkmark {
    background-color: #D34204;
  }
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
.container input:checked ~ .checkmark:after {
    display: block;
  }
  
.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #mark_soucliente{
    width: 108px;
  }

  #control_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
  }

  #control_form > input{
    font-size: 18px;
    border-radius: 10px;
    padding: 8px 10px;
    color: white;
    border: none;
  }

  #control_form > input[type="submit"]{
    background: #D34204;
  }

  #control_form > input[type="submit"]:hover{
    background: #c54108;
    cursor: pointer;
  }

  #control_form > input[type="reset"]{
    background: #979797;
  }

  #control_form > input[type="reset"]:hover{
    background: #000000;
    cursor: pointer;
  }

  @media only screen and (max-width: 1024px){
    #logo_and_pesquisa{
        width: 60%;
    }
  }

  @media only screen and (max-width: 768px){
    header{
        flex-direction: column;
        margin: 10px 0px 0px 0px;
    }
    #dropDown{
        display: block;
        margin: auto;
        background-color: #2e2b29;
        color:white;
        border: none;
        font-size: 20px;
        width: 100%;
        margin-top: 15px;
        padding: 15px;
    }
    #dropDown:hover{
        background-color: #000000;
    }
    #caixa_pesquisa{
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
    #logo_and_pesquisa{
        flex-direction: column;
        width: 80%;
    }
    #mensagem_footer{
        font-size: 10px;
    }
  }
  @media only screen and (max-width: 600px) {
    #infor_produto{
        padding-left: 10px;
    }
    #infor_produto{
        width: auto;
    }
  }
  @media only screen and (max-width: 470px){
    section{
        justify-content: space-around;
    }
  }

  @media only screen and (max-width: 425px) {
    #section_produto{
        margin: 50px 0px 30px 0px;
    }
    #infor_foto > img{
        width: 300px;
        height: 300px;
    }
    #input_quantidade{
        row-gap: 10px;
    }
  }
  @media only screen and (max-width: 375px){
    #feedback > a{
        font-size: 17px;
        font-weight: 600;
        padding: 10px 10px 10px 10px;
    }
    #feedback > h2{
        font-size: 16px;
    }
    #redes_social{
        display: flex;
        justify-content: space-evenly;
    }
    #div_formulario{
        margin: 5px;
    }
  }

  @media only screen and (max-width: 330px){
    #infor_foto > img{
        width: 265px;
        height: 265px;
    }
    #nome, #email, .campo_formulario > textarea{
        width: 90%;
    }
    form > div{
        margin-left: 5px;
    }
  } 